body {
}
body {
    height: 100%;
    /* carousel-indicator-transition:opacity .1s ease !important;
  carousel-transition-duration: .1s ease !important; */
}

#login-img {
    height: 100%;
}

#login-txt {
    text-align: left;
}

#loginsub-txt {
    text-align: left;
    font-size: 15px;
}

.carousel-indicators > button {
    border-radius: 50%;
    width: 7px !important;
    height: 7px !important;
    margin-bottom: 4px;
}

form .login-btn {
    border: 2px solid #F88634;
    border-radius: 24px;
    background: none;
    color: #F88634;
}

#forgot-password {
    text-align: center;
    color: #414141;
    text-decoration: none;
}

#create-account {
    text-align: center;
}

#account-link-txt {
    color: #414141;
}

#account-link {
    text-decoration: none;
}

#forgot-password-txt {
    text-align: center;
    font-size: larger;
    color: #414141;
    font-weight: 600;
}

#forgot-subtxt {
    text-align: center;
    font-size: small;
    color: #414141;
    letter-spacing: 0px;
}

#privacy {
    position: relative;
    text-align: center;
    color: #414141;
}

#privacy-child {
    color: #414141;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    margin-top: 40px;
}