.userProfile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .btn:focus {
    box-shadow: none;
  }
  .topnav{
    border-bottom: 1px solid lightgrey;
  }
  .collapse{
    margin-left: 5pc;
  }
  
  
  .profile span {
    padding: 8px;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
  }
  
  /* -----------------------------------------------------------------------*/
  /* -------------------search bar----------------------------- */
  .search-bar {
  
    position: relative;
    width:50%;
  }
  
  .fa-search {
  
    position: absolute;
    top: 13px;
    left: 20px;
    color: #9ca3af;
  
  }
  
  .form-input {
  
    height: 40px;
    text-indent: 33px;
    border-radius: 10px;
    border: none;
  }
  
  .form-input:focus {
  
    box-shadow: none;
    border: 1px solid #ADADAD;
  }
  .btnborder{
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-radius: 0%;
  }
  .drop{
    border-left: 1px solid ;
  }
  .skills{
    border-right: 1px solid;
  }
  
  
  /* ----------------------------------------------------------------------- */
   
  @media (max-width:767px) {

   .u2{
    display: none;
   }

    .btnborder{
      border:none;
      padding-left: 15px;
    }
    .search-bar{
      width: 100%;
    }

.dropdown-menu {
  
      box-shadow: 0px 0px 14px 0px #00000012;
      padding: 10px;
      font-size: 15px;
      line-height: 18px;
      color: #3E3E3E;
      font-weight: 400;
      min-width: 140px;
    }
  }
 /* new code */

  .dropdown {
    display: flex;
    
  } 
  .filter-bar-row {
    padding: 20px 9rem;
  }
  
  .filter-bar {
    padding: 4.5px 20px;
    font-size: 13px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e8e8e8 !important;
    border-radius: 14px !important;
    margin: 5px 10px !important;
  }

  .btn-close-search {
    padding: 0 !important;
    border: 0 !important;
    transform: translateY(-0.2rem);
  }
  .explore {
    padding: 13px 8.5rem;
  }
  
  
  .gridbtn {
  background-image: url(../Assets/grid.png) !important;
  width: 44px !important;
  height: 44px !important;
  border:7px solid transparent !important;
  }
  
  .listbtn{
    background-image: url(../Assets/list.png) !important;
    background-position: center !important;
    background-size: contain !important;
    width: 30px !important;
    height: 30px !important;
    border:7px solid transparent !important;
    transform: translateY(0.3rem);
  }
  .form-check-input{
    margin-top: 0 !important;
  
  }
  
   .explore .form-check{
    padding: 0 12px !important;
    margin: 0 !important;
  }
  
  
  .sortby{
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0.97px 0.26px 3px #0000000d;
    border: 1px solid #d9d9d9;
    color: #414141;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 11rem;
  }

  @media (max-width:767px) {
    .filter-bar{
      display: none;
    }
    .clr-btn{
      display: none;
    }
  }


   /* Card list and Gride view    */
   .card {
    margin-bottom: 1rem;
 }
 

 .Title{
  border: 1px solid white;
  width: fit-content;
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -12.5px;
  background-color: white;
}
.Title-1{
  border: 1px solid black;
  width: fit-content;
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -12.5px;
  background-color: white;
}
.Apply-btn{
  background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #F88634;
border-radius: 24px;
opacity: 1;
color: #F88634;
}

.Seats-left{
  width: 35px;
  height: 35px;
}

.location {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 35px;
  width: fit-content;
  border-radius: 18px;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.5;
  color: white;
}
 

 
 
 